#root {
  max-width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #66af69;
  color: white;
}

.tabs button:hover {
  background-color: #45a049;
  color: white;
}

.tab-content {
  display: flex;

}